@-webkit-keyframes colorfade {
    0% {
        color:#A4C639;
        stroke: #A4C639;
    }
    50.0% {
        color:#8DD6F9;
        stroke: #8DD6F9;
    }
    100.0% {
        color:#CF4444;
        stroke: #CF4444;
    }
}

@keyframes colorfade {
    0% {
        color:#A4C639;
        stroke: #A4C639;
    }
    50.0% {
        color:#8DD6F9;
        stroke: #8DD6F9;
    }
    100.0% {
        color:#CF4444;
        stroke: #CF4444;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', sans-serif;
}