@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
    }
    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(0, -4px, 0);
    }
    40%, 60% {
        transform: translate3d(0, 4px, 0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

mark {
    background: none;
}

.Welcome {
    width: 100vw;
    height: 108vh;
    max-width: 100%;
    font-family: "Source Code Pro", sans-serif;
    background: no-repeat #282C35;
    background-image: url('arrows.svg');
    background-size: auto 90%;
    background-position: bottom right;
    background-origin: content-box;
    overflow: hidden;
}

.Welcome-text h1 {
    font-size: 52px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.Welcome-text {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px 0 70px;
    box-sizing: border-box;
    color: white;
    max-width: 900px;
    font-weight: 700;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}

.Welcome-text .chevron {
    animation: shake 4s cubic-bezier(.36, .07, .19, .97) infinite;
    margin-top: 100px;
}

.Welcome-text .chevron svg {
    cursor: pointer;
}

.Welcome-text .aboutme {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    width: 100%;
    margin-top: 42px;
}

.Welcome-text .Mark-green {
    color: #A4C639;
}

.Welcome-text .Mark-red {
    color: #CF4444;
}

.Welcome-text .Mark-blue {
    color: #8DD6F9;
}

@media(max-width: 850px) {
    .Welcome {
        background: #282C35;
    }
    .Welcome-text {
        padding: 0 50px 0 50px;
    }
    .Welcome-text h1 {
        padding-left: 0px;
        font-size: 36px;
    }
    .Welcome-text .aboutme {
        font-size: 20px;
    }
}